<main class="main-wrapper">
  <div class="title-wrapper">
    <img src="/assets/images/twitch-logo.svg" width="40" height="40" />
    <h1>Verifique o código de login</h1>
  </div>
  <div class="description">
    <h2>Que bom te ver outra vez, Lucas!</h2>
    <p>
      Parece que você está tentando se conectar a partir de um novo dispositivo
      ou local.
    </p>
    <p>
      Como medida de segurança adicional, insira o código de seis dígitos que
      enviamos para l****@g***.com.
    </p>
    <span class="purple-text">Precisa de ajuda?</span>
  </div>
  <div class="fields-wrapper">
    <div class="fields-container">
      <ng-container *ngFor="let field of codeFields; let index = index">
        <mat-form-field
          class="field"
          appearance="outline"
          [ngStyle]="{
            'margin-right': index < codeFields.length - 1 ? '16px' : '0'
          }"
        >
          <input
            matInput
            #fields
            mask="0"
            [name]="field.name"
            [(ngModel)]="field.value"
            (input)="handleEvent($event, index)"
            (paste)="splitCode($event)"
            (click)="clear(index)"
          />
        </mat-form-field>
      </ng-container>
      <span class="purple-text">Reenviar código</span>
    </div>
    <div class="button-wrapper">
      <button
        class="button"
        [ngClass]="{ disabled: disabled }"
        mat-flat-button
        [disabled]="disabled"
        (click)="sendVote()"
      >
        <ng-container *ngIf="!loading">Enviar</ng-container>
        <ng-container *ngIf="loading">Aguarde</ng-container>
      </button>
    </div>
  </div>
</main>
